{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<section class="section">
    <h1 class="homeTitre">{{ textBienvenue }}</h1>

</section>
{% endblock %}
