{% extends 'base.html.twig' %}

{% block title %}Création Genre{% endblock %}

{% block body %}
<section class="form">
    <h1 class="formTitre">Creation d'un genre</h1>
    {{ form(formCreationGenre) }}
</section>
{% endblock %}