{% extends 'base.html.twig' %}

{% block title %}Création Livre{% endblock %}

{% block body %}
<section class="form">
    <h1 class="formTitre">Creation d'un livre</h1>
    {{ form(formCreationLivre) }}
</section>
{% endblock %}